AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
BasedOnStyle: LLVM
BreakBeforeConceptDeclarations: Allowed
ColumnLimit: 120
IndentWidth: 4
RequiresClausePosition: SingleLine
PenaltyBreakComment: 1000000000
